<header class="bg-primary bg-opacity-50 p-2">
  <div class="w-50 w-auto container-fluid d-flex flex-row align-items-center justify-content-between">
    <h2 class="w-50 text-white">Прогноз погоды</h2>
    <div class="d-flex flex-row gap-3 rounded-3 w-75 justify-content-end">
      <form class="d-flex flex-row gap-2 w-100 justify-content-end" (submit)="$event.preventDefault()">
        <div class="position-relative w-50">
          <input class="form-input rounded-3 w-100 border-0 h-100 p-2" type="text" placeholder="Город" #cityInputElement>
          <div class="position-absolute bottom-0 top-100 w-100">
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="false">
              <div class="card position-relative">
                <button type="button" class="btn-close align-self-end p-2 position-absolute" (click)="collapse.toggle()"></button>
                <div class="card-body text-danger fs-6 text-center">Город не найден!</div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="searchCity(cityInputElement.value)">
          Найти
        </button>
      </form>
    </div>
  </div>
</header>
